.nav {
    position: fixed;
    min-height: 66px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 0 16px;
    z-index: 2;
    background: transparent;
}

.nav form {
    display: none;
}

.formContainer {
    width: 750px;
}

.navLogo {
    display: flex;
    align-items: center;
    width: 107px;
    height: 40px;
    text-decoration: none;
    justify-content: space-between;
    margin-right: 30px;
}

.navLogoImg {
    height: 40px;
    width: 40px;
}

.navLogoImg svg {
    height: 40px;
    width: 40px;
    border-radius: 8px;
}

.navLogoText {
    font-size: 19px;
    line-height: 1;
    font-weight: 600;
    color: #fff;
    font-family: inherit;
}

.navLogoText:hover {
    color: rgb(237, 237, 237);
}

.btns {
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: auto;
}

.btns li a, .btns li{
    color: #fff;
    font-size: 19px;
    padding-left: 24px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.btns li a:hover, .btns li:hover {
    color: rgb(237, 237, 237);
}

li a.activeCollection {
    font-weight: bold;
    text-decoration: underline;
}

.active {
    background: #232a34;
    margin-bottom: 66px;
}

.nav.active form {
    display: flex;
} 

.padding {
    position: relative;
    height: 66px;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .formContainer {
        width: 600px;
    }
}

@media screen and (max-width: 1000px) {
    .formContainer {
        width: 400px;
    }
}

@media screen and (max-width: 800px) {
    .formContainer {
        width: 300px;
    }
    .navLogoText {
        font-size: 16px;
    }
    .btns li a, .btns li{
        font-size: 14px;
        padding-left: 14px;
    }
    .navLogo {
        width: 100px;
    }
}

@media screen and (max-width: 600px) {
    .formContainer {
        width: 290px;
        font-size: 10px;
    }
    .navLogoText {
        display: none;
    }
    /* .btns {
        margin: 0;
    } */
    .btns li a, .btns li{
        font-size: 14px;
        padding-left: 14px;
    }
    .navLogo {
        width: 20px;
    }
}

@media screen and (max-width: 500px) {
    .formContainer {
        width: 220px;
    }
    .navLogoText {
        display: none;
    }
    /* .btns li a, .btns li{
        font-size: 10px;
    } */
    .navLogo {
        width: 20px;
    }
}







