.link {
    display: inline-flex;
    font-size: 14px;
    line-height: 23px;
    font-weight: 700;
    align-items: center;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 8%);
    color: #5e5e5e;
    padding: .35rem;
    padding-right: 1.25rem;
    text-decoration: none;
    transition: .1s all ease;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.link:hover {
    background: rgb(235, 235, 235);
}

.link img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: .75rem;
    background-position: center;
    background-size: cover;
}