.menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    box-shadow: 0 1px 3px 0 rgb(0, 0, 0, 8%);
}

.menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.menu li {
    padding: 0 17.5px;
    font-size: 17px;
    line-height: 26px;
    font-weight: 600;
    letter-spacing: .4px;
    transition: .2s color ease;
    cursor: pointer;
    position: relative;
}

.menu a {
    text-decoration: none;
    color: #5e5e5e;
}

.menu a:hover {
    color: #0064f9;
}

a.active {
    color: #0064f9;
}

.active::after {
    content: '';
    height: .22rem;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    position: absolute;
    bottom: -17px;
    left: 0;
    opacity: 1;
    transition: .2s opacity ease;
    background: #0064f9;
    width: 100%;
}
